my_*.*
my_terraform

# Terraform specific local files
.terraform*
terraform.tfstate*
*.log
secret.auto.tfvars
terraform.tfvars
sample_my.tfvars

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.env
*.code-workspace
build
*.egg-info
gen