name: Fetch data and update charts

on:
  workflow_dispatch:

  # Schedule to run every day at 23:55
  schedule:
    - cron: '55 23 * * *'

  workflow_call:

jobs:
  setup_infrastructure:
    name: Test
    runs-on: [self-hosted, solinas]

    steps:
        - name: Check out Git repository
          id: checkout_repo
          uses: actions/checkout@v4

        - name: Setup python
          if: ${{ success() }}
          uses: actions/setup-python@v5
          with:
            python-version: '3.12' # install the python version needed
  
        - name: Update python package versions
          if: ${{ success() }}
          run: |
            cd config
            rm -rf requirements.txt
            python -m pip install pip-tools
            pip-compile

        - name: Commit and push changes
          run: |
            git add -A
            git config user.email "btpsabot@users.noreply.github.com"
            git config user.name "[tf_btp bot] docu generation"
            git diff --quiet && git diff --staged --quiet || git commit -m "[tf_btp bot] Read data and update charts"
            git push origin main
